<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="margin-top: 50%;">
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
        <ion-list>
          <ion-item>
            <ion-input
              type="email"
              formControlName="email"
              label="Correo electrónico:"
              labelPlacement="stacked"
              placeholder="Ingrese correo..."
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="password"
              formControlName="password"
              label="Contraseña:"
              labelPlacement="stacked"
              placeholder="Ingrese contraseña..."
            ></ion-input>
          </ion-item>
        </ion-list>
        <ion-button
          type="submit"
          expand="block"
          [disabled]="loginForm.invalid"
          color="dark"
        >
          Iniciar Sesión
        </ion-button>
      </form>
      <ion-text color="primary">
        <p (click)="recuperarContrasena()" style="text-align: center; margin-top: 15px; cursor: pointer;">
          ¿Olvidaste tu contraseña?
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
